                                            /* -----------------------                 ESTILOS DEL HOME                 ---------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    
}

a{
    text-decoration: none;
    color:#4E2780;
}

main{
    background-color: rgb(245, 245, 245);
}

.video-hero{
    width: 100%;
    position: relative;
  }
  
    .video-hero video{
        width: 100%;
    }

.frase-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D1C3F3;
    text-shadow: 4px 5px 1px #4E2780;
    border: 1px solid rgb(228, 195, 243);
    padding: 2em;
    text-align: center;
    width: 90%;
}  

    .frase-video h2{
        font-size: 1.2em;
        margin-bottom: 10px;
        animation: animacionTexto 6s ease-in-out infinite alternate;
    }

.container-txtSecciones{
    padding: 3em 0 1em 0;
    text-align: center;
}

    .container-txtSecciones h2{
        padding: 3em 0 1em 0;
        font-size: 1.5em;
        color: #4E2780;
    }

.destacados{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.destacados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-imgh2{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1em;
    width: 100%;
    color: #4E2780;
}

.destacados-imgh2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 13px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.062);
    width: 14em;
}

.destacados-imgh2 img{
    width: 12em;
}

.destacados-imgh2:hover{
    transform: scale(0,9.0,5);
    transition: 0.1s;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.2);
}

.destacados-imgh2 h2{
    padding-bottom: .5em;

}

.txtSeleccionados{
    padding: 8em 0 0 0;
    text-align: center;
    font-size: 1.5em;
    color: #4E2780;
}

.prodSeleccionados{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3em 10em 0 10em;
}

.container__card, .prodSeleccionados-imgh2{
    padding: 1em;
}

.container__card img:hover{
    border: 1px solid rgba(0, 0, 0, 0.178);
}

.container__card img, .prodSeleccionados-imgh2 img{
    width: 24em;
    border-radius: 13px;
    
}

.container__card h2, .prodSeleccionados-imgh2 h2{
    text-align: center;
    margin-bottom: 3em;
}

.botonSubir{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 3em;
    background-color: rgb(245, 245, 245);

    
}

.material-symbols-outlined{
    width: 1em;
    font-size: 4em;
    font-weight: bold;
    fill: #4E2780;
    background-color: rgb(245, 245, 245);

}

/* -------- animaciones -------- */

@keyframes animacionTexto {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
        }
}


/* ----------- Media queries ------------- */

@media( min-width: 360px) and (max-width: 768px){ 
    .frase-video{
        padding: .5em;
    }  
        .frase-video h2{
            font-size: 2em;
        }

        .container-txtSecciones h2{
            font-size: 1.5em;
        }
    
        .destacados-imgh2{

            width: 10em;
        }
        
        .destacados-imgh2 img{
            border-radius: 13px;
            width: 9.9em;
        }
        
        .destacados-imgh2 h2{
            font-size: 1em;
            padding-bottom: .5em;
        }
        

        .txtSeleccionados h2{
            font-size: 1em;
        }

    .prodSeleccionados{
        padding: 3em 1em 0;
    }    
    
        .container__card img, .prodSeleccionados-imgh2 img{
            width: 7.8em;
        }

        .container__card h2, .prodSeleccionados-imgh2 h2{
            font-size: .7em;
        }
    


    .botonSubir{
        padding: .9em;
    }

    .material-symbols-outlined{
        width: 1em;
        font-size: 1.8em;

    }
}

@media( min-width: 768px) and (max-width:1024px){
    .frase-video{
        padding: 1em;
    }  
        .frase-video h2{
            font-size: 3em;
        }
    
    .txtSeleccionados{
        padding: 8em 0 0 0;
        text-align: center;
        font-size: 1.2em;
        color: #4E2780;
    }
    .prodSeleccionados{
        padding: 3em 1em 0;
    }    

        .container__card img, .prodSeleccionados-imgh2 img{
            width: 17em;
        }

        .container__card h2, .prodSeleccionados-imgh2 h2{
            font-size: 1.4em;
        }

    .material-symbols-outlined{
        font-size: 3em;
    }
}

@media( min-width: 1024px) and (max-width: 1630px){
    .prodSeleccionados{
        padding: 3em 1em 0;
    } 

        .container__card img,.prodSeleccionados-imgh2 img{
            width: 18em;
        }

    .frase-video{
        padding: 3.5em;
    }  
    
        .frase-video h2{
            font-size: 5em;
        }

    .material-symbols-outlined{
        font-size: 3.5em;
    }
}


@media (min-width:1630px) and (max-width: 1920px){
    .frase-video{
        padding: 3.5em;
    }  
    
        .frase-video h2{
            font-size: 8em;
        }

        .container-txtSecciones h2{
            font-size: 3em;
            color: #4E2780;
        }
    
        .txtSeleccionados h2{
            font-size: 2em;
        }

    .prodSeleccionados{
        padding: 3em 10em 0;
    } 

        .container__card img,.prodSeleccionados-imgh2 img{
            width: 18em;
        }
  
}






                            /* -----------------------                 ESTILOS ARCHIVO TEXTIL                 ---------------------------- */

.contenedor--textiles{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}


.title{
    text-align: center;
    padding: 2em 0 5em 0;
}

.item img{
    width: 25em;
    height: 25em;
    object-fit: cover;
    
}